body {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  border: none;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.header {
  max-width: 846px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.header__logo {
  cursor: pointer;
}
.header__menu {
  max-width: 450px;
  width: 100%;
  color: #FFFFFF;
  font-family: "Source sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__menu li {
  display: inline-block;
  position: relative;
}
.header__menu ul li a {
  list-style: none;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__items {
  background-color: #000000;
  overflow: hidden;
}

.menu__items a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu__items a:hover {
  border-bottom: #ADADAD 1px solid;
  color: #ADADAD;
}

.menu__items a.active {
  border-bottom: #ADADAD 1px solid;
  color: #ADADAD;
}

.fa-ellipsis {
  background-color: #000000;
  color: #FFFFFF;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: none;
}

.fa-ellipsis:hover, .fa-ellipsis:focus {
  border-bottom: #ADADAD 1px solid;
  color: #ADADAD;
}

.menu__items-mobile {
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  color: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu__items-mobile a {
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.menu__items-mobile a:hover {
  border-bottom: #ADADAD 1px solid;
  color: #ADADAD;
}

.header__menu-mobile {
  position: relative;
  display: block;
}

@media screen and (max-width: 1550px) {
  .header__menu-mobile {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .menu__items {
    display: none;
  }
  .header__menu-mobile {
    display: inline-block;
  }
  .menu__items-mobile {
    display: none;
  }
}
.show {
  display: block;
  right: auto;
}

.main-title {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 84px;
  font-style: normal;
  margin-block: 0px;
}

.second-title {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  max-width: 573px;
  width: 100%;
  font-family: "Source sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 100;
  line-height: 34px;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .main-title {
    font-size: 84px;
  }
  .second-title {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .main-title {
    font-size: 72px;
  }
  .second-title {
    font-size: 22px;
  }
}
@media screen and (max-width: 565px) {
  .main-title {
    font-size: 72px;
  }
  .second-title {
    font-size: 18px;
    width: 300px;
  }
}
@media screen and (max-width: 365px) {
  .main-title {
    font-size: 36px;
  }
  .second-title {
    font-size: 12px;
    width: 217px;
    line-height: 18px;
  }
}

/*# sourceMappingURL=index.css.map */
