.header {
	max-width: 846px;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-bottom: 100px;
    &__logo {
    	cursor: pointer;
    }
    &__menu {
		max-width: 450px;
		width: 100%;
		color: #FFFFFF;
		font-family: 'Source sans', sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 28px;
		cursor: pointer;
		display: flex;
		justify-content: flex-end;
		align-items: center;


		& li {
		display: inline-block;
		position: relative;
		}

		& ul li a {
			list-style: none;
			color: #FFFFFF;
			text-decoration: none;
			
		}
	}
}



.menu__items {
  background-color: #000000;
  overflow: hidden;
}


.menu__items a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.menu__items a:hover {
  border-bottom: #ADADAD 1px solid;
  color: #ADADAD;
}

.menu__items a.active {
  border-bottom: #ADADAD 1px solid;
  color: #ADADAD;
}

.header__menu-mobile {
  position: relative;
  display: inline-block;
}

.fa-ellipsis {
  background-color: #000000;
  color: #FFFFFF;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: none;
}

.fa-ellipsis:hover, .fa-ellipsis:focus {
  border-bottom: #ADADAD 1px solid;
  color: #ADADAD;
}


.menu__items-mobile {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  color: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu__items-mobile a {
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.menu__items-mobile a:hover {
	border-bottom: #ADADAD 1px solid;
  color: #ADADAD;
}




@media screen and (max-width: 450px) {

	.menu__items {
		display: none;
	}
}

.show {display:block;}



