body {
	max-width: 1440px;
	width: 100%;
	height: 100vh;
	background-color: #000000;
	border: none;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
}

@import 'header';
@import 'main';